* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

#mycanvas {
    background-size: 18px 18px;
    background-image: linear-gradient(to right, #f5f6f7 1px, transparent 1px),
        linear-gradient(to bottom, #f5f6f7 1px, transparent 1px);
}

.header {
    height: 50px;
    line-height: 50px;
    background-color: #fff;
    border: 1px solid #dddddd;
    text-align: center;
    font-size: 24px;
    color: #131C26;
}

.container {
    position: relative;
}

.container>.nav {
    background-color: #fff;
    border-bottom: 1px solid #D7DDE3;
    padding: 10px 12px;
}

.container>.nav .left button,
.container>.nav .middle button {
    width: 40px;
    height: 40px;
    padding: 8px auto;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: #1A9FFF;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
}

.container>.nav .left {
    float: left;
    width: 100px;
    text-align: left;
}

.container>.nav .middle {
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}

.container>.nav .right {
    float: right;
    width: 100px;
    text-align: center;
    border: none;
    border-radius: 3px;
    background-color: #cb4a32;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    padding: 10px 16px
}

.container>.nav>.middle>.tools {
    display: inline-block;
    vertical-align: top;
}

.container>.nav>.middle>.pensettings {
    display: inline-block;
    vertical-align: top;
}

#thicknes-panel {
    display: none;
}


.selected::after{
    content: '✔';
    position: absolute;
    display: block;
    transform: translateX(75%) translateY(-50%);
    /* top: 1px; */
    /* left: 1px; */
    /* border: 1px solid red; */
}
.container>.nav>.middle .colors>.black {
    background-color: black;
}

.container>.nav>.middle .colors>.grey {
    background-color: grey;
}

.container>.nav>.middle .colors>.blue {
    background-color: #1A8CFF;
}

.container>.nav>.middle .colors>.red {
    background-color: red;
}

.container>.nav>.middle .colors>.green {
    background-color: #2BD965;
}

.container>.nav .middle .colors>.yellow {
    background-color: #FFDD33;
}